.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 100vh;
  position: relative;
}

.backgroundImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: relative;
}

.swiper-slide-active::after {
  position: absolute;
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  left: 0;
  /* background-color: rgb(255, 77, 0); */
  z-index: 1;
}

.swiper-pagination {
  position: absolute;

  left: 50%;
  top: 95%;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 81px;
  height: 12px;
  width: 81px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #fff;
  opacity: 100%;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet:last-child {
  margin-right: 0px;
}

@media (min-width: 100px) {
  .swiper {
    position: fixed;
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    margin: 0 auto;
  }
}

@media (min-width: 672px) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    margin: 0;
  }
}
