.mySwiper2 {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.mySwiper3 {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  z-index: 3;
}

.mySwiperSlide {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 0;
  text-align: center;
  font-size: 18px;
  background: #fff;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiperSlide3 {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  text-align: center;
  font-size: 18px;

  background: rgba(71, 71, 71, 0.745);
  background-position: center;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.btn__booking {
  position: absolute;
  display: inline-block;
  top: 0;
  transform: translateX(-50%);
  padding: 0.8rem 6rem;
  border: 0.5px solid #38470b;
  background: #38470b;
  /* transform: translateY(-50%); */
  /* transform: translateX(-100%); */
  bottom: 50%;
  cursor: pointer;
  color: #ffffff;
  font: size 1.25em;
}

.btn__closeModal {
  cursor: pointer;
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  z-index: 4;
}
.btn__closeModal:hover {
  opacity: 1;
}

.btn__closeModal:before,
.btn__closeModal:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: rgb(255, 255, 255);
}
.btn__closeModal:before {
  transform: rotate(45deg);
}
.btn__closeModal:after {
  transform: rotate(-45deg);
}

.swiper-button-next,
.swiper-button-prev {
  cursor: pointer;
  color: #fff;
}
